:root {
    --body-bg: #123;
    --nav-bg: rgb(69, 92, 115);

}
.column-items {
    list-style-type: none;
   height: auto;
   display: flex;
   padding-left: 15px;
}

.img-owner {
    border-radius: 150px;
}
.owner-text {
    padding: 50px 50px;
}

p {
    font-family: "Roboto Condensend", sans-serif;
    font-size: 23px;
    font-weight: 650;
    margin: 7px;
}
.container {
    padding-top: 40px;

}

.about_box {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: auto;
    background-color: var(--nav-bg);
    border-radius: 30px;
    padding: 5px 15px;

}
.test1 {
    font-weight: 900;
    font-size: 35px;
}