:root {
    --body-bg: #123;
    --nav-bg: rgb(69, 92, 115);

}

body {
    background: var(--body-bg);
    margin: 0;
    padding: 0;
    /* position: relative; */
}

p {
    color: white;
    text-align: center;
}






.top-bar {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: var(--nav-bg);
    overflow: auto;
    border-radius:0 0 5px 5px; 
    z-index: 1000;
    margin-top: 0;
}
.top-list {
   list-style-type: none;
   height: auto;
   display: flex;
   padding-left: 0;
   

}
.top-item {
    
    margin: auto;
    background-color: var(--body-bg);
    width: 250px;
    border-radius: 20px;
    list-style: none;
    text-align: center;
}
.top-item a {
    text-decoration: none;
    color: white;
    padding:0 35px;
    font-size: 30px;
    font-family: "Roboto Condensend", sans-serif;

}




.service-wrapper {
    height: 100%;
    overflow: auto;
    width: 1500px;
    position: relative;

}

.service-list {

    list-style: none;

    display: grid;
    gap: 40px;
    padding-block: 2rem 4rem;
   
}


.servicii {
    position: relative;
    margin: auto;
    margin-top: 25px;
    left: 0;
    right: 0;
    width: 600px;
    height: 400px;
    
    border-radius: 10px;   
    
}




.bt-reserv {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    width: 300px;
    border-radius: 20px;
    opacity: 0.8;
    background-color: whitesmoke;
    font-size: 30px;
    text-align: center;
    font-family: "Roboto Condensend", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 550;
    
}

.denumireJob {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: auto;

    
    opacity: 0.9;
    background-color:white;
    font-size: 30px;
    text-align: center;
    font-family: "Roboto Condensend", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 550;
}