:root {
    --body-bg: #123;
    --nav-bg: rgb(69, 92, 115);

}
.column-items {
    list-style-type: none;
   height: auto;
   display: flex;
   padding-left: 15px;
}

.img-owner {
    border-radius: 150px;
}
.owner-text {
    padding: 50px ;
}

.unu{
    font-family: "Roboto Condensend", sans-serif;
    font-weight: 700;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    font-size: 27px;
}